[Desktop Entry]
Type=Link
Name=StickyNotes
Name[be]=Стыкеры
Name[cs]=Poznámkový blok
Name[de]=Sticky_notesett
Name[el]=Sticky_notes
Name[eo]=Sticky_noteseto
Name[es]=Notas adhesivas
Name[fr]=
Name[it]=Note adesive
Name[gl]=
Name[ml]=സ്റ്റിക്കിനോട്ട്സ്
Name[pl]=Samoprzylepne notatki
Name[pt]=Notas adesivas
Name[pt_BR]=Notas adesivas
Name[ru]=Стикеры
Name[sk]=Poznámkový blok
GenericName[es]=Módulo Notas Adhesivas
Icon=e-module-sticky_notes
Comment=Sticky Notes module for the Moksha desktop.
Comment[be]=Модуль Стыкеры для працоўнага стала Moksha.
Comment[cs]=Poznámkový blok pro desktop Moksha.
Comment[de]=
Comment[el]=
Comment[eo]=
Comment[es]=Módulo Notas Adhesivas para el escritorio Moksha.
Comment[fr]=Ajouter des notes collantes sur le bureau de Moksha.
Comment[it]=Modulo 'Note adesive' per il desktop Moksha.
Comment[gl]=
Comment[ml]=ഇ/മോക്ഷ ഡെസ്ക്ടോപ്പിനുള്ള സ്റ്റിക്കി നോട്ട്സ് മൊഡ്യൂൾ.
Comment[pl]=Moduł samoprzylepnych notatek na pulpit Moksha
Comment[pt]=Módulo de notas adesivas para a área de trabalho do Moksha.
Comment[pt_BR]=Módulo de notas adesivas para a área de trabalho do Moksha.
Comment[ru]=Модуль Стикеры для рабочего стола Moksha.
Comment[sk]=Poznámkový blok pre desktop Moksha.
#Several different types available here. NEED TO DOC THESE.
X-Enlightenment-ModuleType=utils
